* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Combo" sans-serif;
    background-color: hsl(30, 54%, 90%);
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #fff;
    width: 600px;
    border-radius: 20px;
    height: fit-content;
    margin: 100px;
    padding: 50px 20px;
}

.imgctn {
    width: 560px;
    border-radius: 20px;
}

.imgctn img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    width: 100%;
    font-weight: 600px;
    margin: 30px 0px 30px;
}

.description h2 {
    font-weight: 800px;
    font-size: 30px;
}

.description p {
    margin-top: 8px;
    font-size: 16px;
}


.preptime {
    background-color: #ffdaec;
    border-radius: 10px;
    font-size: 16px;
    margin: 2px 18px;
    padding: 10px 30px;
}

.preptime p {
    color: brown;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
}

.preptime ul {
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.ingredients {
    padding: 4px 8px;
    margin: 15px 12px;
    font-size: 20px;
    border: 20px;
    border-color: rgba(8, 8, 8, 0.144);
    border-width: 2px;
    border-bottom-style: solid;
}
.ingredients ul {
    margin: 12px 16px;
    font-size: 16px;
}

.taste {
    padding: 10px;
}


.instructions{
    padding: 4px 8px;
    margin: 15px 12px;
    border-color: rgba(8, 8, 8, 0.144);
    border-width: 2px;
    border-bottom-style: solid;
}

.instructions h3 {
    font-size: 25px;
}

.instructions ol {
    margin: 12px 16px;
}

.bold {
    padding: 10px;
}

.nutrients {
    padding: 4px 8px;
    margin: 15px 12px;
    border-color: rgba(133, 129, 129, 0.266);
    border-width: 2px;
    border-bottom-style: solid;
}
.nutrients p{
    margin: 16px 28px;
}

h3 {
    color: brown;
}

li ::marker {
    color: brown;
}

.nutritionalvalue1 {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nuts, .values {
     /* border: 2px solid rgb(194, 111, 22); */
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     gap: 15px;
}

.classes, .weight {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid rgb(198, 198, 198);
    padding: 5px 100px;
    width: 100%;
}