/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Box-Model - This is a concept that indicates that elements have paddings, margins and borders
h1{
    border: 3px solid black;
}
p{
    border: 10px solid chocolate;
} */

/* body{
    font-family: "Bad Script";
    background-color: antiquewhite;
} */

body {
    font-family: "Combo";
    background-color: hsl(30, 54%, 90%);
    height: 100vh;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.box {
    background-color: #fff;
    width: 600px;
    /* height: 350px; */
    border-radius: 20px;
    /* font-size: 2em; */
    height: fit-content;
    /* margin: auto auto; */
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;

    /* forms of writing margins
    form 1
    margin: 350px 300px 350px 350px;

    form 2
    margin-top: 350px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 350px;

    form 3
    margin: 350px;

    form 4
    margin: 350px 200px */
}

/* ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* border-width: 5px;
    border-style: dotted;
    border-color: black; */
/* border: 5px dotted black;
    /* flex-direction: row; */
/* justify-content: center;
    align-items: flex-end;
} */

.imgctn {
    width: 560px;
    border-radius: 20px;
}

.imgctn img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.description {
    color: #000;
    font-weight: 800px;
    margin: 20px 0 20px;
}

.description p{
    margin-top: 8px;
    font-size: 14px;
}

.preptime {
    background-color: #fff5fa;
    border-radius: 10px;
    font-size: 15px;
    margin: 2px 18px;
    padding: 10px 30px;
}
.preptime p{
    color: brown;
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 20px;
}

li.specialchar {
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.preptime ul {
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.ingredients {
    padding: 4px 8px;
    margin: 15px 12px;
    font-size: 16px;
}

ul {
    margin: 12px 16px;
}

.taste {
    padding: 10px;
}



.instructions {
    padding: 4px 8px;
    margin: 15px 12px;
    border-bottom: 10px #000;
}

ol {
    margin: 12px 16px;
}

.bold {
    padding: 10px;
}

.nutrients {
    padding: 4px 8px;
    margin: 15px 12px;
}

strong {
    color: rgb(0, 0, 0);
}

h3 {
    color: brown;
}


li::marker {
    color: brown;
}

hr {
    height: 2px;
    width: 100%;
    color: #000;
}
.nutritionalvalue2{
    padding: 5px;
    margin: 10px;
}